.card-img-top{
    max-height: 191.22px;
    min-height: 191.22px;
    object-fit: cover;
    object-position: center;
}
/* @media(max-width:500px){
    .special-add{
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
} */