<div class="main-body justify-content-start py-3">
    <div class="container p-2 w-100">
        <div class="top-section d-flex justify-content-between align-items-end px-3 pb-2">
            <h4 class="page-title pb-0 mb-0">Active Folders</h4>
            <button class="button-regular-round special-add" type="button" data-bs-toggle="modal"
                data-bs-target="#AddProject">New Folder</button>
        </div>
        <div class="main-area-grid h-100 pt-1">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-0 w-100">
                <div class="col">
                    <div class="card card-standard shadow">
                        <div class="card-body">
                            <div class="top-labels d-flex justify-content-center">
                                <i class="bi bi-folder pe-2 py-0 m-0 dark-accent-text"></i>
                                <h5 class="card-title dark-accent-text text-center p-0 m-0">John Smith</h5>
                            </div>
                            <hr>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Property: </span>123 Main St, Asbury Park NJ </p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Representing: </span>Buyer</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Status: </span>Offer Pending</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Date Added: </span>1/7/2021</p>
                            <hr>
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <a class="dark-accent-text" [routerLink]="['details']">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-standard shadow">
                        <div class="card-body">
                            <div class="top-labels d-flex justify-content-center">
                                <i class="bi bi-folder pe-2 py-0 m-0 dark-accent-text"></i>
                                <h5 class="card-title dark-accent-text text-center p-0 m-0">John Smith</h5>
                            </div>
                            <hr>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Property: </span>123 Main St, Asbury
                                Park NJ </p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Representing: </span>Buyer</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Status: </span>Offer Pending</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Date Added: </span>1/7/2021</p>
                            <hr>
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <a class="dark-accent-text" [routerLink]="['details']">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-standard shadow">
                        <div class="card-body">
                            <div class="top-labels d-flex justify-content-center">
                                <i class="bi bi-folder pe-2 py-0 m-0 dark-accent-text"></i>
                                <h5 class="card-title dark-accent-text text-center p-0 m-0">John Smith</h5>
                            </div>
                            <hr>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Property: </span>123 Main St, Asbury
                                Park NJ </p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Representing: </span>Buyer</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Status: </span>Offer Pending</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Date Added: </span>1/7/2021</p>
                            <hr>
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <a class="dark-accent-text" [routerLink]="['details']">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-standard shadow">
                        <div class="card-body">
                            <div class="top-labels d-flex justify-content-center">
                                <i class="bi bi-folder pe-2 py-0 m-0 dark-accent-text"></i>
                                <h5 class="card-title dark-accent-text text-center p-0 m-0">John Smith</h5>
                            </div>
                            <hr>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Property: </span>123 Main St, Asbury
                                Park NJ </p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Representing: </span>Buyer</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Status: </span>Offer Pending</p>
                            <p class="dark-shade-text"><span class="text-small dark-accent-text">Date Added: </span>1/7/2021</p>
                            <hr>
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <a class="dark-accent-text" [routerLink]="['details']">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade ms-lg-5" id="AddProject" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add A Folder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Client</label>
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Select Client</option>
                                    <option value="1">John Smith</option>
                                    <option value="2">Jane Doe</option>
                                    <option value="3">Billy Bob</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Property</label>
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Select Property</option>
                                    <option value="1">123 Main St, Asbury Park NJ</option>
                                    <option value="2">321 South Ave, Bradley Beach NJ</option>
                                    <option value="3">49 Maple Ct, Neptune NJ</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Represeting</label>
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Select Relation</option>
                                    <option value="1">Buyer</option>
                                    <option value="1">Seller</option>
                                    <option value="2">Landlord</option>
                                    <option value="3">Renter</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select form-select" aria-label=".form-select-sm example">
                                    <option selected>Folder Status</option>
                                    <option value="1">Pending Offer</option>
                                    <option value="3">Under Contract</option>
                                    <option value="2">Closed</option>
                                    <option value="3">Fell Through</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Closing Date</label>
                                <input type="date" class="form-control w-100" name="trip-start" min="2021-01-01" max="2021-12-31">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p class="pointer" data-bs-dismiss="modal">Close</p>
                        <button type="button" class="button-regular-round" data-bs-dismiss="modal">Add
                            Folder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>